extends ../layout

block content
    section.container
        nav(aria-label="breadcrumb")
            ol.breadcrumb.my-4.fs-4
                li.breadcrumb-item
                    a.link-underline.link-underline-opacity-0(href='/admin') Panel de Administración
                li.breadcrumb-item.active(aria-current='page') Actividades

        .mb-3.text-end
            a.btn.btn-primary(href='/admin/actividades/actividad') Añadir actividad

        table.table.table-striped
            thead
                tr.table-dark
                    th(scope='col') Id
                    th(scope='col') Nombre
                    th(scope='col', style='width: 150px;') Acciones
            tbody
                each activity in activities
                    tr
                        td #{activity.id}
                        td #{activity.name}
                        td
                            a.btn.btn-warning.btn-sm.me-2(href='/admin/actividades/actividad?id='+activity.id, title='Ver detalles')
                                i.bi.bi-pencil-square
                                |  Ver