header.bg-black.text-white.px-5.py-3
    .navbar.navbar-expand-lg
        a.navbar-brand.text-white.me-auto(href="/") New Art
        button.navbar-toggler.bg-white(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-expanded="false", aria-label="Alternar navegación")
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link.text-white(href="/") Inicio
                li.nav-item
                    a.nav-link.text-white(href="/actividades") Actividades
                li.nav-item
                    a.nav-link.text-white(href="/calendario") Horarios
                li.nav-item
                    a.nav-link.text-white(href="/aulas") Aulas
                li.nav-item
                    a.nav-link.text-white(href="/profesores") Profesorado
                li.nav-item
                    a.nav-link.text-white(href="/admin") Admin