extends ../layout

block content
    section.home-hero
        .carousel.slide(data-bs-ride="carousel")
            .home-hero__carousel-inner.carousel-inner.position-relative
                .home__hero-overlay

                .home-hero__text.text-center.text-white
                    h1 Bienvenido a New Art
                    p Tu espacio para la música y la danza en Albacete
                    .d-flex.flex-column.flex-lg-row.justify-content-center.gap-3
                        a.btn.btn-primary(href="/actividades") Ver actividades
                        a.btn.btn-light(href="/reserva") Reservar Aula

                .carousel-item.home-hero__carousel-item.active(data-bs-interval="10000")
                    img.home-hero__img.d-block.w-100(src="/img/hero1.jpg", alt="Primera imagen")
                .carousel-item.home-hero__carousel-item(data-bs-interval="10000")
                    img.home-hero__img.d-block.w-100(src="/img/hero2.jpg", alt="Segunda imagen")
                .carousel-item.home-hero__carousel-item(data-bs-interval="10000")
                    img.home-hero__img.d-block.w-100(src="/img/hero3.jpg", alt="Tercera imagen")
                .carousel-item.home-hero__carousel-item(data-bs-interval="10000")
                    img.home-hero__img.d-block.w-100(src="/img/hero4.jpg", alt="Cuarta imagen")

    section.home-activities

