extends ../layout

block content
    section.container.mt-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow
                    .card-body.p-4
                        h2.text-center.mb-4.text-primary Iniciar sesi칩n como administrador
                        if error
                            .alert.alert-danger.text-center #{error}
                        form(method='POST', action='/login')
                            .mb-3
                                label.form-label(for='username') Usuario
                                input#username.form-control(type='text', name='username', required, placeholder='Ingresa tu usuario')
                            .mb-3
                                label.form-label(for='password') Contrase침a
                                input#password.form-control(type='password', name='password', required, placeholder='Contrase침a')
                            button.btn.btn-primary.w-100(type='submit') Iniciar sesi칩n
