extends ../layout

block content
    section.container.pt-5.text-center
        .alert.alert-success.mb-3 Su petición se ha procesado correctamente
        a.btn.btn-warning(href='/') Volver al inicio